In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np

<h3>Récupération des urls de toutes les pages</h3>

In [2]:
def getAllPages():

    urls = []
    actualPage = 1

    for i in range(163) :
        i = f"https://www.barreaudenice.com/annuaire/avocats/?fwp_paged={actualPage}"
        actualPage += 1
        urls.append(i)
        
    return urls

<h3>Récupération de toutes les infos concernants les avocats sur 1 seule page</h3>

In [3]:
def getInfo(url) :

    lawyer = requests.get(url)
    soup = bs(lawyer.text,"lxml")
    list_lawyer = []
    
    name = soup.find_all('div', class_="callout secondary annuaire-single")
    for i in name:
    
        try:
            if i.find('span', class_="telephone") :
                phone_number_all = i.find('span', class_="telephone").get_text().strip()
            else :
                phone_number_all = 'NaN'
        except:
                phone_number_all = 'NaN'
    
        try:
            if i.find('span', class_="fax") :
                fax_all = i.find('span', class_="fax").get_text().strip()
            else :
                fax_all = 'NaN'
        except:
                fax_all = 'NaN'
            
        try:
            if i.find('span', class_="email") :
                email_all = i.find('span', class_="email").get_text().strip()
            else :
                email_all = 'NaN'
        except:
                email_all = 'NaN'

        try:
            if i.find('span', class_="num-case") :
                num_case_all = i.find('span', class_="num-case").get_text().strip()
            else :
                num_case_all = 'NaN'
        except:
                num_case_all = 'NaN'

        try:
            if i.find('span', class_="adresse") :
                location_all = i.find('span', class_="adresse").get_text().strip()
            else :
                location_all = 'NaN'
        except:
                location_all = 'NaN'

        try:
            if i.find('h3', class_="nom-prenom") :
                name_all = i.find('h3', class_="nom-prenom").get_text().strip()
            else :
                name_all = 'NaN'
        except:
                name_all = 'NaN'

        try:
            if i.find('span', class_="date") :
                date_all = i.find('span', class_="date").get_text().strip()
            else :
                date_all = 'NaN'
        except:
                date_all = 'NaN'
  
        info = [name_all, date_all, location_all, num_case_all, email_all, phone_number_all, fax_all]
        list_lawyer.append(info)

    return list_lawyer

<h3>Répeter l'étape précendente sur toutes les pages du site</h3>

In [4]:
def getAllLawyer():
    
    page = getAllPages()
    allInfo = []
    
    for i in page:
            list = getInfo(i)
            allInfo.extend(list)

    return allInfo

<h3>Transformer toutes la data en file CSV</h3>

In [5]:
data = getAllLawyer()

dt = pd.DataFrame(data, columns = ['name', 'date', 'location', 'num-case', 'email', 'phone-number', 'fax'])
#dt.to_csv("lawyerData(dirty).csv")

dt

,name,date,location,num-case,email,phone-number,fax
0,ABASSIT Florian,16/01/2018,"31, avenue Jean Médecin ...",N° de Case : 701,Email : \n ...,T . 04 23 40 02 02,F . 04 22 13 50 64
1,ABBATI Anaïs,06/01/2012,"13, rue Alphonse Karr\r\nLe Louvre ...",N° de Case : 42,Email : \n ...,T . 04 97 03 11 50,F . 04 97 03 11 59
2,ABDALLAOUI Myriam,07/01/2022,11bis Bd Dubouchage ...,N° de Case : 443,Email : \n ...,T . 06 04 65 39 13,NaN
3,ABDOULAYE MOUSSA Abdoul Wahab,07/01/2022,"16, boulevard Raimbaldi ...",N° de Case : 770,Email : \n ...,T . 06 51 83 90 86,NaN
4,ABECASSIS Charles,08/01/1988,"1, Place Magenta\r\n ...",N° de Case : 270,Email : \n ...,T . 04 93 88 30 17,F . 04 93 87 61 57
...,...,...,...,...,...,...,...
1299,VEZZANI Eric,14/01/1985,2 Rue Du Congrès\n ...,N° de Case : 216,Email : \n ...,T . 04 93 52 52 22,F . 04 93 92 43 70
1300,VIAL Emmanuelle,14/01/2009,"7, rue Delille\r\n ...",N° de Case : 190,Email : \n ...,T . 06 22 37 42 09,F . 04 22 13 53 28
1301,VIALE Maria-Margherita,03/01/2001,19 Avenue Notre Dame\n ...,N° de Case : 534,Email : \n ...,T . 04 93 80 23 38,F . 04 93 80 23 97
1302,VIDAL Florian,08/01/2014,"56, avenue Alfred Borriglione\r\n ...",N° de Case : 31,Email : \n ...,T . 04 89 08 92 19,NaN
1303,VIDEAU GILLI Martine,25/01/1984,"26, rue Paul Déroulède\r\n ...",N° de Case : 576,Email : \n ...,T . 04 97 20 50 67,F . 04 97 20 50 68

<h3>Nettoyage</h3>

In [6]:
backup = dt

In [7]:
dt.isnull().sum()

name            0
date            0
location        0
num-case        0
email           0
phone-number    0
fax             0
dtype: int64

In [8]:
#dt.dt['fax'] == 'NaN'

In [9]:
dt

,name,date,location,num-case,email,phone-number,fax
0,ABASSIT Florian,16/01/2018,"31, avenue Jean Médecin ...",N° de Case : 701,Email : \n ...,T . 04 23 40 02 02,F . 04 22 13 50 64
1,ABBATI Anaïs,06/01/2012,"13, rue Alphonse Karr\r\nLe Louvre ...",N° de Case : 42,Email : \n ...,T . 04 97 03 11 50,F . 04 97 03 11 59
2,ABDALLAOUI Myriam,07/01/2022,11bis Bd Dubouchage ...,N° de Case : 443,Email : \n ...,T . 06 04 65 39 13,NaN
3,ABDOULAYE MOUSSA Abdoul Wahab,07/01/2022,"16, boulevard Raimbaldi ...",N° de Case : 770,Email : \n ...,T . 06 51 83 90 86,NaN
4,ABECASSIS Charles,08/01/1988,"1, Place Magenta\r\n ...",N° de Case : 270,Email : \n ...,T . 04 93 88 30 17,F . 04 93 87 61 57
...,...,...,...,...,...,...,...
1299,VEZZANI Eric,14/01/1985,2 Rue Du Congrès\n ...,N° de Case : 216,Email : \n ...,T . 04 93 52 52 22,F . 04 93 92 43 70
1300,VIAL Emmanuelle,14/01/2009,"7, rue Delille\r\n ...",N° de Case : 190,Email : \n ...,T . 06 22 37 42 09,F . 04 22 13 53 28
1301,VIALE Maria-Margherita,03/01/2001,19 Avenue Notre Dame\n ...,N° de Case : 534,Email : \n ...,T . 04 93 80 23 38,F . 04 93 80 23 97
1302,VIDAL Florian,08/01/2014,"56, avenue Alfred Borriglione\r\n ...",N° de Case : 31,Email : \n ...,T . 04 89 08 92 19,NaN
1303,VIDEAU GILLI Martine,25/01/1984,"26, rue Paul Déroulède\r\n ...",N° de Case : 576,Email : \n ...,T . 04 97 20 50 67,F . 04 97 20 50 68

In [10]:
dt['date'] = pd.to_datetime(dt['date'])

/tmp/ipykernel_12098/1143679843.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  dt['date'] = pd.to_datetime(dt['date'])

In [11]:
dt.dtypes

name                    object
date            datetime64[ns]
location                object
num-case                object
email                   object
phone-number            object
fax                     object
dtype: object

In [12]:
dt.groupby(['fax']).describe()

                          date                                 \
                         count                           mean
fax
F . (+33) 04 93 16 87 89     1            2007-11-21 00:00:00
F . +33 970 019 805          1            1990-01-29 00:00:00
F . 01 48 07 52 33           1            2009-05-20 00:00:00
F . 01 58 47 15 72           3            1997-04-21 16:00:00
F . 01 75 43 24 41           1            2018-01-16 00:00:00
...                        ...                            ...
F . 09 89 52 64 95           1            2004-01-05 00:00:00
F . 09.73.88.38.53           1            2011-01-05 00:00:00
F . 09.84.34.91.96           1            2006-01-13 00:00:00
F . 109 88 77 26 73          1            2023-01-09 00:00:00
NaN                        373  2012-07-25 21:37:09.490616576

                                                                    \
                                          min                  25%
fax
F . (+33) 04 93 16 87 89  2007-11-21 00:00:00  2007-11-21 00:00:00
F . +33 970 019 805       1990-01-29 00:00:00  1990-01-29 00:00:00
F . 01 48 07 52 33        2009-05-20 00:00:00  2009-05-20 00:00:00
F . 01 58 47 15 72        1995-03-22 00:00:00  1995-12-15 12:00:00
F . 01 75 43 24 41        2018-01-16 00:00:00  2018-01-16 00:00:00
...                                       ...                  ...
F . 09 89 52 64 95        2004-01-05 00:00:00  2004-01-05 00:00:00
F . 09.73.88.38.53        2011-01-05 00:00:00  2011-01-05 00:00:00
F . 09.84.34.91.96        2006-01-13 00:00:00  2006-01-13 00:00:00
F . 109 88 77 26 73       2023-01-09 00:00:00  2023-01-09 00:00:00
NaN                       1973-12-17 00:00:00  2006-02-02 00:00:00

                                                                    \
                                          50%                  75%
fax
F . (+33) 04 93 16 87 89  2007-11-21 00:00:00  2007-11-21 00:00:00
F . +33 970 019 805       1990-01-29 00:00:00  1990-01-29 00:00:00
F . 01 48 07 52 33        2009-05-20 00:00:00  2009-05-20 00:00:00
F . 01 58 47 15 72        1996-09-09 00:00:00  1998-05-07 12:00:00
F . 01 75 43 24 41        2018-01-16 00:00:00  2018-01-16 00:00:00
...                                       ...                  ...
F . 09 89 52 64 95        2004-01-05 00:00:00  2004-01-05 00:00:00
F . 09.73.88.38.53        2011-01-05 00:00:00  2011-01-05 00:00:00
F . 09.84.34.91.96        2006-01-13 00:00:00  2006-01-13 00:00:00
F . 109 88 77 26 73       2023-01-09 00:00:00  2023-01-09 00:00:00
NaN                       2016-01-08 00:00:00  2021-06-01 00:00:00


                                          max
fax
F . (+33) 04 93 16 87 89  2007-11-21 00:00:00
F . +33 970 019 805       1990-01-29 00:00:00
F . 01 48 07 52 33        2009-05-20 00:00:00
F . 01 58 47 15 72        2000-01-03 00:00:00
F . 01 75 43 24 41        2018-01-16 00:00:00
...                                       ...
F . 09 89 52 64 95        2004-01-05 00:00:00
F . 09.73.88.38.53        2011-01-05 00:00:00
F . 09.84.34.91.96        2006-01-13 00:00:00
F . 109 88 77 26 73       2023-01-09 00:00:00
NaN                       2025-01-13 00:00:00

[498 rows x 7 columns]

In [13]:
dt['fax'] = dt['fax'].str.replace('F . ','')
dt['fax'] = dt['fax'].str.replace("+33) ", "")
dt['fax'] = dt['fax'].str.replace("+33 ", "0")
dt['fax'] = dt['fax'].str.replace(".", " ")
dt['fax'] = dt['fax'].str.replace("(", "")
dt['fax'] = dt['fax'].str.replace("109", "09")
dt['fax'] = dt['fax'].str.replace("NaN", "0")

In [14]:
dt.groupby("phone-number").describe()

                          date                                            \
                         count                 mean                  min
phone-number
T .   06 21 79 66 63         1  2021-01-18 00:00:00  2021-01-18 00:00:00
T . (+33) 04 93 16 87 87     1  2007-11-21 00:00:00  2007-11-21 00:00:00
T . +33 (0)4 92 00 50 60     1  1993-12-15 00:00:00  1993-12-15 00:00:00
T . +33 970 019 805          1  1990-01-29 00:00:00  1990-01-29 00:00:00
T . --                       1  1991-09-30 00:00:00  1991-09-30 00:00:00
...                        ...                  ...                  ...
T . 09 87 40 65 20           3  2017-01-06 00:00:00  2017-01-06 00:00:00
T . 09 87 54 77 05           1  1996-01-03 00:00:00  1996-01-03 00:00:00
T . 09 88 01 31 36           5  2005-10-26 00:00:00  1999-01-04 00:00:00
T . 09 88 02 89 25           1  2002-10-09 00:00:00  2002-10-09 00:00:00
T . 09.73.88.28.53           1  2011-01-05 00:00:00  2011-01-05 00:00:00

                                                                    \
                                          25%                  50%
phone-number
T .   06 21 79 66 63      2021-01-18 00:00:00  2021-01-18 00:00:00
T . (+33) 04 93 16 87 87  2007-11-21 00:00:00  2007-11-21 00:00:00
T . +33 (0)4 92 00 50 60  1993-12-15 00:00:00  1993-12-15 00:00:00
T . +33 970 019 805       1990-01-29 00:00:00  1990-01-29 00:00:00
T . --                    1991-09-30 00:00:00  1991-09-30 00:00:00
...                                       ...                  ...
T . 09 87 40 65 20        2017-01-06 00:00:00  2017-01-06 00:00:00
T . 09 87 54 77 05        1996-01-03 00:00:00  1996-01-03 00:00:00
T . 09 88 01 31 36        2001-01-03 00:00:00  2003-01-15 00:00:00
T . 09 88 02 89 25        2002-10-09 00:00:00  2002-10-09 00:00:00
T . 09.73.88.28.53        2011-01-05 00:00:00  2011-01-05 00:00:00


                                          75%                  max
phone-number
T .   06 21 79 66 63      2021-01-18 00:00:00  2021-01-18 00:00:00
T . (+33) 04 93 16 87 87  2007-11-21 00:00:00  2007-11-21 00:00:00
T . +33 (0)4 92 00 50 60  1993-12-15 00:00:00  1993-12-15 00:00:00
T . +33 970 019 805       1990-01-29 00:00:00  1990-01-29 00:00:00
T . --                    1991-09-30 00:00:00  1991-09-30 00:00:00
...                                       ...                  ...
T . 09 87 40 65 20        2017-01-06 00:00:00  2017-01-06 00:00:00
T . 09 87 54 77 05        1996-01-03 00:00:00  1996-01-03 00:00:00
T . 09 88 01 31 36        2009-01-07 00:00:00  2017-01-06 00:00:00
T . 09 88 02 89 25        2002-10-09 00:00:00  2002-10-09 00:00:00
T . 09.73.88.28.53        2011-01-05 00:00:00  2011-01-05 00:00:00

[898 rows x 7 columns]

In [15]:
dt['phone-number'] = dt['phone-number'].str.replace('T . ','')
dt['phone-number'] = dt['phone-number'].str.replace('.',' ')
dt['phone-number'] = dt['phone-number'].str.replace('T . ','')
dt['phone-number'] = dt['phone-number'].str.replace('+33(0)', '0')
dt['phone-number'] = dt['phone-number'].str.replace('(+33)', '')
dt['phone-number'] = dt['phone-number'].str.replace('+33', '0')

In [16]:
dt.drop(dt[ dt['phone-number'].str.contains('--', na=False) ].index, inplace=True)

In [17]:
dt

,name,date,location,num-case,email,phone-number,fax
0,ABASSIT Florian,2018-01-16,"31, avenue Jean Médecin ...",N° de Case : 701,Email : \n ...,04 23 40 02 02,04 22 13 50 64
1,ABBATI Anaïs,2012-01-06,"13, rue Alphonse Karr\r\nLe Louvre ...",N° de Case : 42,Email : \n ...,04 97 03 11 50,04 97 03 11 59
2,ABDALLAOUI Myriam,2022-01-07,11bis Bd Dubouchage ...,N° de Case : 443,Email : \n ...,06 04 65 39 13,NaN
3,ABDOULAYE MOUSSA Abdoul Wahab,2022-01-07,"16, boulevard Raimbaldi ...",N° de Case : 770,Email : \n ...,06 51 83 90 86,NaN
4,ABECASSIS Charles,1988-01-08,"1, Place Magenta\r\n ...",N° de Case : 270,Email : \n ...,04 93 88 30 17,04 93 87 61 57
...,...,...,...,...,...,...,...
1299,VEZZANI Eric,1985-01-14,2 Rue Du Congrès\n ...,N° de Case : 216,Email : \n ...,04 93 52 52 22,04 93 92 43 70
1300,VIAL Emmanuelle,2009-01-14,"7, rue Delille\r\n ...",N° de Case : 190,Email : \n ...,06 22 37 42 09,04 22 13 53 28
1301,VIALE Maria-Margherita,2001-01-03,19 Avenue Notre Dame\n ...,N° de Case : 534,Email : \n ...,04 93 80 23 38,04 93 80 23 97
1302,VIDAL Florian,2014-01-08,"56, avenue Alfred Borriglione\r\n ...",N° de Case : 31,Email : \n ...,04 89 08 92 19,NaN
1303,VIDEAU GILLI Martine,1984-01-25,"26, rue Paul Déroulède\r\n ...",N° de Case : 576,Email : \n ...,04 97 20 50 67,04 97 20 50 68

In [18]:
dt['num-case'] = dt['num-case'].str.replace('N° de Case : ', "")
dt['num-case'] = dt['num-case'].str.replace('NaN', "0")

In [21]:
dt.groupby("num-case").describe()

          date                                                      \
         count                           mean                  min
num-case
-277         1            1975-10-06 00:00:00  1975-10-06 00:00:00
0           23  2010-05-28 19:49:33.913043456  1991-12-02 00:00:00
011          1            2013-01-09 00:00:00  2013-01-09 00:00:00
012          1            1968-12-16 00:00:00  1968-12-16 00:00:00
013          3            2016-04-07 00:00:00  2010-01-27 00:00:00
...        ...                            ...                  ...
94           1            2010-01-06 00:00:00  2010-01-06 00:00:00
95           1            2010-01-06 00:00:00  2010-01-06 00:00:00
96           2            2004-07-13 00:00:00  1995-01-16 00:00:00
98           1            1997-01-06 00:00:00  1997-01-06 00:00:00
99           3            2008-09-25 16:00:00  2004-03-08 00:00:00

                                                                         \
                          25%                  50%                  75%
num-case
-277      1975-10-06 00:00:00  1975-10-06 00:00:00  1975-10-06 00:00:00
0         2005-01-11 00:00:00  2009-01-07 00:00:00  2017-01-06 12:00:00
011       2013-01-09 00:00:00  2013-01-09 00:00:00  2013-01-09 00:00:00
012       1968-12-16 00:00:00  1968-12-16 00:00:00  1968-12-16 00:00:00
013       2012-12-16 00:00:00  2015-11-05 00:00:00  2019-05-13 00:00:00
...                       ...                  ...                  ...
94        2010-01-06 00:00:00  2010-01-06 00:00:00  2010-01-06 00:00:00
95        2010-01-06 00:00:00  2010-01-06 00:00:00  2010-01-06 00:00:00
96        1999-10-15 00:00:00  2004-07-13 00:00:00  2009-04-11 00:00:00
98        1997-01-06 00:00:00  1997-01-06 00:00:00  1997-01-06 00:00:00
99        2007-08-07 00:00:00  2011-01-05 00:00:00  2011-01-05 00:00:00


                          max
num-case
-277      1975-10-06 00:00:00
0         2025-01-13 00:00:00
011       2013-01-09 00:00:00
012       1968-12-16 00:00:00
013       2022-11-18 00:00:00
...                       ...
94        2010-01-06 00:00:00
95        2010-01-06 00:00:00
96        2014-01-08 00:00:00
98        1997-01-06 00:00:00
99        2011-01-05 00:00:00

[744 rows x 7 columns]

In [22]:
dt

,name,date,location,num-case,email,phone-number,fax
0,ABASSIT Florian,2018-01-16,"31, avenue Jean Médecin ...",701,Email : \n ...,04 23 40 02 02,04 22 13 50 64
1,ABBATI Anaïs,2012-01-06,"13, rue Alphonse Karr\r\nLe Louvre ...",42,Email : \n ...,04 97 03 11 50,04 97 03 11 59
2,ABDALLAOUI Myriam,2022-01-07,11bis Bd Dubouchage ...,443,Email : \n ...,06 04 65 39 13,NaN
3,ABDOULAYE MOUSSA Abdoul Wahab,2022-01-07,"16, boulevard Raimbaldi ...",770,Email : \n ...,06 51 83 90 86,NaN
4,ABECASSIS Charles,1988-01-08,"1, Place Magenta\r\n ...",270,Email : \n ...,04 93 88 30 17,04 93 87 61 57
...,...,...,...,...,...,...,...
1299,VEZZANI Eric,1985-01-14,2 Rue Du Congrès\n ...,216,Email : \n ...,04 93 52 52 22,04 93 92 43 70
1300,VIAL Emmanuelle,2009-01-14,"7, rue Delille\r\n ...",190,Email : \n ...,06 22 37 42 09,04 22 13 53 28
1301,VIALE Maria-Margherita,2001-01-03,19 Avenue Notre Dame\n ...,534,Email : \n ...,04 93 80 23 38,04 93 80 23 97
1302,VIDAL Florian,2014-01-08,"56, avenue Alfred Borriglione\r\n ...",31,Email : \n ...,04 89 08 92 19,NaN
1303,VIDEAU GILLI Martine,1984-01-25,"26, rue Paul Déroulède\r\n ...",576,Email : \n ...,04 97 20 50 67,04 97 20 50 68

In [26]:
dt['num-case'] = pd.to_numeric(dt['num-case'], errors='coerce').astype("Int64")

In [27]:
dt.dtypes

name                    object
date            datetime64[ns]
location                object
num-case                 Int64
email                   object
phone-number            object
fax                     object
dtype: object